@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;783&display=swap');

body {
  background-color: rgb(247, 245, 245);
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.listBook {
  display: flex;
  width: 900px;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 10px auto;
  border: 1px solid rgb(226, 226, 226);
  background-color: white;
  border-radius: 8px;
  justify-content: space-around;
}

.divOne1 {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  text-align: left;
  margin-left: -50px;
}

.divOne {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.removeButton {
  display: flex;
  margin: 12px 0;
  text-align: left;
}

.btn {
  font-size: 14px;
  color: #4386bf;
  background: none;
  padding: 6px 0;
  padding-right: 8px;
  border: none;
  cursor: pointer;
}

.divOne h3 {
  font-size: 14px;
  color: rgb(148, 148, 148);
  margin: 0;
}

.divOne p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(148, 148, 148);
  padding: 15px 0;
  margin: 0;
}

.divOne button {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: #0290ff;
  padding: 6px;
  border: none;
  border-radius: 5px;
}

.genre {
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-weight: bold;
  padding-top: 8px;
}

.title {
  color: #000;
  padding: 6px 0;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.author {
  color: #4386bf;
  font-size: 14px;
}
