.bookContainer {
  border: 1px solid;
}

.containerHeader {
  width: 100%;
  display: flex;
  background-color: white;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.header {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.header h1 {
  font-size: 28px;
  color: rgb(101, 137, 236);
  font-weight: bold;
  margin-left: 190px;
}

.links {
  list-style: none;
  padding: 14px;
  text-decoration: none;
  color: rgba(90, 90, 90, 0.589);
}

.iconUser {
  padding: 14px;
  margin-right: 180px;
}
