.bookContainer {
  border: 1px solid;
}

.containerHeader {
  border-bottom: 1px solid rgb(219, 218, 218);
  width: 100%;
  display: flex;
  background-color: white;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.header {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.header h1 {
  font-weight: 700;
  font-size: 28px;
  color: #0290ff;
  margin-left: 190px;
}

.links {
  list-style: none;
  padding: 14px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.iconUser {
  padding: 6px;
  margin-right: 190px;
  color: #0290ff;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 50px;
}
